*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card{
    width: 200px;
    margin: 2%;
}
.card > p {
    font-size: 1.5rem;
}
.price {
    font-weight: bolder;
}

.card__figure {
    padding: 0 0 2rem 0;
}
.card__figure img {
    display: block;
    width: 180px;
    margin: 0 auto;
}